@charset "UTF-8";
/* VARIABLES */
/* VARIABLES*/
/* VARIABLES TEXT COLOR */
/* FONDOs */
/* FUENTES DE TÍTULOS Y PÁRRAFOS */
/* MIXIN DE LA SECCIÓN 'SONRIENTES' DEL HOMEPAGE */
/*MIXIN DE LA SECCIÓN "ALE Y RO" DE LA STUDIO PAGE */
/*MIXIN DE LA SECCIÓN "BRUJULAS" DE LA STUDIO PAGE */
/* MIXIN SECCION "SKILLS" DE PROYECTOS PAGE */
/*HOJAS DE ESTILO*/
/* PAGINA STUDIO  */
.main__studio {
  margin-top: 130px; }

.welcome__div {
  margin-top: 130px; }
  .welcome__div__h {
    font-family: "Bebas Neue";
    font-size: 80px;
    letter-spacing: 3px;
    text-align: center;
    padding: 2%;
    margin-bottom: 10px;
    text-align: center; }
  .welcome__div__img {
    background: url(/images/fondo-studio-page-2.png) center fixed;
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-top: 0; }

.first__ctn__div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: space-evenly;
  padding: 3.5rem; }

.first__ctn__h {
  font-family: "Bebas Neue";
  font-size: 3em; }

.first__ctn__p {
  font-family: "Lato Black";
  font-size: 1.5em;
  font-style: normal;
  color: #5d5d5d;
  padding: 1rem; }

.textGray {
  color: #474747; }

.second__ctn__aleyro {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding: 3rem;
  background-color: #d1d1d1; }

.div__ro {
  display: grid;
  justify-items: center;
  grid-template-rows: 250px, 30px, 1fr; }
  .div__ro__img {
    height: 300px;
    align-self: center; }
  .div__ro__h {
    font-family: "Bebas Neue";
    font-size: 2.3rem;
    color: #474747;
    text-align: center;
    align-self: center;
    padding: 2rem; }
  .div__ro__p {
    font-family: "Lato Black";
    font-size: 1.2rem;
    color: #909090;
    text-align: center; }

.div__ale {
  display: grid;
  justify-items: center;
  grid-template-rows: 250px, 30px, 1fr; }
  .div__ale__img {
    height: 300px;
    align-self: center; }
  .div__ale__h {
    font-family: "Bebas Neue";
    font-size: 2.3rem;
    color: #474747;
    text-align: center;
    align-self: center;
    padding: 2rem; }
  .div__ale__p {
    font-family: "Lato Black";
    font-size: 1.2rem;
    color: #909090;
    text-align: center; }

.brujulas__ctn {
  background-color: #f3f3f3;
  padding-bottom: 50px; }

.brujula__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: space-evenly;
  padding: 3rem; }
  .brujula__title__h {
    font-family: "Bebas Neue";
    font-size: 3em; }
  .brujula__title__p {
    font-family: "Lato Black";
    font-size: 1.5em;
    font-style: normal;
    color: #5d5d5d;
    padding: 1rem; }

.brujulas__div {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 110px, 20px, 1fr;
  grid-gap: 2rem;
  padding: 2rem; }

.brujula__art {
  display: grid;
  justify-items: center; }
  .brujula__art__img {
    height: 100px;
    align-self: center; }
  .brujula__art__h {
    font-family: "Bebas Neue";
    font-size: 2rem;
    color: #474747;
    text-align: center;
    align-self: center;
    padding: 1rem; }
  .brujula__art__p {
    font-family: "Lato Black";
    font-size: 1.2rem;
    color: #909090;
    text-align: center; }

.brujula__art:hover {
  background-color: #ffcb20;
  border-radius: 5px;
  transition: 0.7s;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4); }
  .brujula__art:hover .brujula__art__h {
    color: #f0ffff; }
  .brujula__art:hover .brujula__art__p {
    color: #f3f3f3; }

/* MEDIAQUERIS */
@media only screen and (max-width: 600px) {
  .first__ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; } }

@media only screen and (max-width: 600px) {
  .brujulas__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; } }

@media only screen and (max-width: 600px) {
  .second__ctn__aleyro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 80px;
    margin: auto; } }

.main__contact {
  margin-top: 130px; }

.ctn__form {
  background-color: #f3f3f3; }

.formulario {
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px; }

.cabecera__ctn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: space-evenly;
  padding: 3.5rem; }

.cabecera__ctn__div1__h {
  font-family: "Bebas Neue";
  font-size: 3em; }

.cabecera__ctn__div2__h {
  font-family: "Bebas Neue";
  color: #6d6d6d;
  font-size: 2.5em; }

.cabecera__ctn__div2__p {
  font-family: "Lato Black";
  font-size: 1.2em;
  font-style: normal;
  color: #909090;
  padding: 1rem; }

.main__proyect {
  margin-top: 130px; }

.proyect__header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: space-evenly;
  padding: 3.5rem; }
  .proyect__header__h {
    font-family: "Bebas Neue";
    font-size: 3em; }
  .proyect__header__p {
    font-family: "Lato Black";
    font-size: 1.5em;
    font-style: normal;
    color: #5d5d5d;
    padding: 1rem; }

.proyect__ctn {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem; }
  .proyect__ctn__img {
    height: 400px;
    justify-self: center; }

.proyect__ctn img:hover {
  border-radius: 5px;
  transition: 0.7s;
  box-shadow: 5px 8px 13px rgba(0, 0, 0, 0.5); }

/* MEDIAQUERIS */
@media only screen and (max-width: 600px) {
  .skills__ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; } }

@media only screen and (max-width: 600px) {
  .proyect__ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; } }

@media only screen and (max-width: 600px) {
  .py-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; } }

body {
  background-color: #e4e4e4;
  margin: 0%; }

/* BARRA DE NAVEGACIÓN */
.nav1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1d1d1d; }
  .nav1 ul li {
    float: left;
    font-family: "Bebas Neue";
    font-size: 1.4em;
    letter-spacing: 2px; }
  .nav1 ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    text-decoration: none; }
  .nav1 ul li:hover {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0%;
    margin: 0%;
    font-size: 1.6em;
    transition: 1s; }

.main__div {
  margin-top: 130px; }
  .main__div__title {
    font-family: "Bebas Neue";
    font-size: 80px;
    letter-spacing: 3px;
    text-align: center;
    padding: 0%;
    margin-bottom: 10px;
    text-align: center; }
  .main__div__subtitle {
    font-family: "Lato Black";
    font-size: 2.1em;
    text-align: center;
    letter-spacing: 2px;
    color: #ff46a2;
    text-shadow: 2px 2px 1px #68bbff;
    margin-bottom: 2rem; }
  .main__div__img {
    background: url(/images/image1.jpg) center fixed;
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-top: 0; }

/*SOLUCIONES DIGITALES*/
.slogan__ctn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: space-evenly;
  margin-top: 3rem; }
  .slogan__ctn__title {
    font-family: "Bebas Neue";
    font-size: 3em; }
  .slogan__ctn__p {
    font-family: "Lato Black";
    font-size: 1.5em;
    font-style: normal;
    color: #5d5d5d;
    margin-bottom: 3rem; }
    .slogan__ctn__p .textCian {
      color: #4d8fc5;
      font-family: "Lato Black"; }
    .slogan__ctn__p .textMagent {
      color: #e46060;
      font-family: "Lato Black"; }

/* SECCION DE DESCRIPCIÓN*/
.service__ctn {
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px; }
  .service__ctn__title {
    font-family: "Bebas Neue";
    font-size: 2.3em;
    text-decoration: overline;
    text-decoration-color: #6d6d6d;
    color: black; }
  .service__ctn__p {
    font-family: "Lato Black";
    font-size: 1.2em;
    font-style: normal;
    color: #5d5d5d; }

.skills__ctn {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50%, 50%;
  justify-content: space-between;
  grid-gap: 2rem;
  padding: 3rem; }

.skills__art {
  display: grid;
  justify-items: center; }
  .skills__artimg {
    height: 100%;
    width: 50%;
    align-self: center;
    border-image: 13px; }
  .skills__art__h {
    font-family: "Bebas Neue";
    font-size: 2rem;
    color: #474747;
    text-align: center;
    align-self: center;
    padding: 1rem; }
  .skills__art__p {
    font-family: "Lato Black";
    font-size: 1.2rem;
    color: #909090;
    text-align: center; }

.skills__art:hover {
  background-color: #ffcb20;
  border-radius: 5px;
  transition: 0.7s;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
  padding: 0.5rem; }
  .skills__art:hover .skills__art__h {
    color: #f0ffff; }
  .skills__art:hover .skills__art__p {
    color: #f3f3f3; }

.link__section {
  background-color: #d1d1d1; }

/* SECCIÓN DE SONRYENTES - EXPERIENCIAS DE CLIENTES */
.customers__section {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  padding: 30px; }
  .customers__section__title {
    font-family: "Bebas Neue";
    font-size: 2.3em;
    text-decoration: overline;
    text-decoration-color: #6b6b6b;
    color: black; }
  .customers__section__p {
    font-family: "Lato Black";
    font-size: 1.2em;
    font-style: normal;
    color: #5d5d5d;
    margin-bottom: 70px; }

/*CLIENTE: IVAN*/
.customers__div {
  display: grid;
  justify-items: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30rem;
  grid-gap: 30px; }

.ivan__div {
  display: grid;
  justify-items: center;
  grid-template-rows: 30px 300px 1fr; }
  .ivan__div__h {
    font-family: "Bebas Neue";
    font-size: 1.6em;
    color: #474747;
    text-align: center;
    align-self: center;
    margin: 0;
    padding: 0%; }
  .ivan__div__p {
    font-family: "Lato Black";
    font-size: 1em;
    color: #909090;
    text-align: center; }
  .ivan__div__img {
    height: 300px;
    align-self: center; }

/* CLIENTE: SOFIA*/
.sofia__div {
  display: grid;
  justify-items: center;
  grid-template-rows: 30px 300px 1fr; }
  .sofia__div__h {
    font-family: "Bebas Neue";
    font-size: 1.6em;
    color: #474747;
    text-align: center;
    align-self: center;
    margin: 0;
    padding: 0%; }
  .sofia__div__p {
    font-family: "Lato Black";
    font-size: 1em;
    color: #909090;
    text-align: center; }
  .sofia__div__img {
    height: 300px;
    align-self: center; }

/* CLIENTE: BIANCA */
.bianca__div {
  display: grid;
  justify-items: center;
  grid-template-rows: 30px 300px 1fr; }
  .bianca__div__h {
    font-family: "Bebas Neue";
    font-size: 1.6em;
    color: #474747;
    text-align: center;
    align-self: center;
    margin: 0;
    padding: 0%; }
  .bianca__div__p {
    font-family: "Lato Black";
    font-size: 1em;
    color: #909090;
    text-align: center; }
  .bianca__div__img {
    height: 300px;
    align-self: center; }

/* SERVICIOS PAGE */
.container-service-page h2 {
  font-family: "Bebas Neue";
  font-size: 2.5em; }

.container-service-page p {
  font-family: "Lato Black";
  font-size: 1.3em;
  font-style: normal;
  color: #5d5d5d; }

.textCian {
  color: #4d8fc5;
  font-family: "Lato Black"; }

.textMagent {
  color: #e46060;
  font-family: "Lato Black"; }

.first-cnt-sct h2 {
  font-family: "Bebas Neue";
  font-size: 2.1em;
  color: #474747; }

.first-cnt-sct p {
  font-family: "Lato Black";
  font-size: 1em;
  color: #909090; }

.ctn-text-link h2 {
  font-family: "Bebas Neue";
  font-size: 2.1em;
  color: #474747; }

.ctn-text-link p a {
  font-family: "Lato Black";
  text-decoration: none;
  font-size: 2em;
  color: #fa9f42;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); }

.ctn-text-link p a:hover {
  font-size: 2.5em;
  transition: 1s; }

/* MEDIA QUERIS */
@media only screen and (max-width: 320px) {
  .customers__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; }
  .slogan__ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; }
  .service__ctn {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto; }
    .service__ctn__p {
      text-align: center; } }

@media only screen and (max-width: 600px) {
  .customers__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; }
  .service__ctn {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto; }
    .service__ctn__p {
      text-align: center; } }

@media only screen and (max-width: 600px) {
  .service__ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; } }

@media only screen and (max-width: 600px) {
  .skills__ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto; } }

/* FIN (Por ahora) */
