

.main__contact {
    margin-top: 130px;
    
}

.cabecera__ctn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: space-evenly;
    padding: 2%;
}

.cabecera__ctn__div1__h {
    @include principal__title;
    font-size: 80px;

}

.cabecera__ctn__div2 {
    &__h {
        @include secondary__title
    }

    &__p {
        @include p__contact__style
    }
}

.ctn__form {
    background-color: $bg-color-light-body;
    margin-left: 100px;
    margin-right: 100px;
}

.formulario {
    padding: 30px;
}



@media only screen and (max-width: 600px) {
    .ctn__form {
        margin:auto
    }
}
