
/* PAGINA STUDIO  */
.main__studio {
    margin-top: 130px; 
}


.welcome__div{
    margin-top: 130px;

    &__h {
        font-family: $first-font;
        font-size: 80px;
        letter-spacing: 3px;
        text-align: center;
        padding: 2%;
        margin-bottom: 10px;
        text-align: center;
    }
    
    &__img{
        background: url(/images/fondo-studio-page-2.png) center fixed;
        background-size: cover;
        height: 700px;
        width: 100%;
        margin-top: 0;
    }
    

}

.first__ctn {
    &__div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: space-evenly;
        padding: 3.5rem;
        margin-left: 100px;
        margin-right: 100px;
    }

    &__h {
        @include principal__title
    }

    &__p {
        @include p__style
    }

}

.textGray {
        color: $gray-dark-color
    }

.second__ctn__aleyro {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 3rem;
    background-color: $bg-color-ctn-aleyro;
    margin-left: 100px;
    margin-right: 100px;
}

.div__ro {
    @include aleyro__grid__div;

    &__img {
        @include img__customers;
    }

    &__h {
        @include aleyro__h;
    }

    &__p {
        @include aleyro__p;
    }
}

.div__ale {
    @include aleyro__grid__div;

    &__img {
        @include img__customers;
    }

    &__h {
        @include aleyro__h;
    }

    &__p {
        @include aleyro__p;
    }

}

.brujulas__ctn {
    background-color: $bg-color-light-body;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.brujula__title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: space-evenly;
    padding: 3rem;

    &__h {
        @include principal__title;
    }

    &__p {
        @include p__style
    }
}

.brujulas__div {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 110px, 20px, 1fr;
    grid-gap: 2rem;
    padding: 2rem;
}

.brujula__art {
    @include article__grip;

    &__img {
        @include brujulas__img;
    }

    &__h {
        @include brujulas__h;
    }

    &__p {
        @include brujulas__p
    }
}

.brujula__art:hover {
    background-color: $yellow-2-color;
    border-radius: 5px;
    transition: 0.7s;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.4);

    .brujula__art__h {
        color: $white-cream-color;
        
    }

    .brujula__art__p {
        color: $bg-color-light-body;
    }
}

/* MEDIAQUERIS */

@media only screen and (max-width: 600px) {
    .first__ctn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

}

@media only screen and (max-width: 600px) {
    .brujulas__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

}

@media only screen and (max-width: 600px) {
    .second__ctn__aleyro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-gap: 80px;
        margin: auto;
    }

}
