/* VARIABLES*/

$first-font: 'Bebas Neue';
$second-font: 'Lato Black';


/* VARIABLES TEXT COLOR */

$white-color: #ffffff;
$black-color: #000000;

$cyan-color: #68bbff;
$magent-color: #ff46a2;
$sky-color: #4d8fc5;
$red-color: #e46060;
$yellow-color:#fa9f42;

$gray-color: #5d5d5d;
$gray-2-color: #6d6d6d;
$gray-dark-color: #474747;
$gray-light-color: #909090;

/* FONDOs */

$bg-color-body:rgb(228, 228, 228);
$bg-color-ctn-aleyro: rgb(209, 209, 209);

