/* VARIABLES */

@import 'variables';
@import 'mixin-extend';
@import 'maps';

/*HOJAS DE ESTILO*/

@import 'header';





body {
    background-color: rgb(228, 228, 228);
    margin: 0%;
}

/* BARRA DE NAVEGACIÓN */

.nav1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(29, 29, 29);

    & li {
        float: left;
        font-family: $first-font;
        font-size: 1.4em;
        letter-spacing: 2px;
    }

    & li a {
        display: block;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    }

    & li:hover {
        background-color: rgba(0, 0, 0, 0.4);
    padding: 0%;
    margin: 0%;
    font-size: 1.6em;
    transition: 1s;
    }
}

.main__div {
    margin-top: 130px;

    &__title {
        font-family: $first-font;
        font-size: 80px;
        letter-spacing: 3px;
        text-align: center;
        padding: 0%;
        margin-bottom: 10px;
        text-align: center;
    }

    &__subtitle {
        font-family: $second-font;
        font-size: 2.1em;
        text-align: center;
        letter-spacing: 2px;
        color: $magent-color;
        text-shadow: 2px 2px 1px $cyan-color;
        margin-bottom: 2rem;  
    }

    &__img {
        background: url(/images/image1.jpg) center fixed;
        background-size: cover;
        height: 700px;
        width: 100%;
        margin-top: 0;
    }
}

/*SOLUCIONES DIGITALES*/

.slogan__ctn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: space-evenly;
    margin-top: 3rem;

    &__title {
        font-family: $first-font;
        font-size: 2.5em;  
    }

    &__p {
        font-family: $second-font;
        font-size: 1.5em;
        font-style:normal;
        color: rgb(93, 93, 93);
        margin-bottom: 3rem;

        & .textCian {
            color: $sky-color;
            font-family: $second-font;
        }

        & .textMagent {
            color: $red-color;
            font-family: $second-font;
        }
    }

}

/* SECCION DE DESCRIPCIÓN*/

.service__ctn {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;

    &__title {
        font-family: $first-font;
        font-size: 2.3em;
        text-decoration: overline;
        text-decoration-color: $gray-2-color;
        color: rgb(0, 0, 0);
    }

    &__p {
        font-family: $second-font;
        font-size: 1.2em;
        font-style: normal;
        color: $gray-color;
        margin-bottom: 70px;
    }
}

/* SECCION DE 1° SERVICIO: SITIOS WEB */

.web__article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__text {
        display: flex;
        flex-flow: column wrap;
        align-self: center;

        &__h {
            font-family: $first-font;
            font-size: 1.6em;
            color: $gray-dark-color;
            text-align: center;
            margin: 0;
        }

        &__p {
            font-family: $second-font;
            font-size: 1.4em;
            color: $gray-light-color;
            text-align: center;
        }

    &__img img {
        height: 450px;
        width: 675px;
        justify-self: center;
        align-self: center;
    }
    }
}

/* SECCION DE 2° SERVICIO: DISEÑO UX/UI */

.design__article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 50px;

    &__text {
        display: flex;
        flex-flow: column wrap;
        align-self: center;

        &__h {
            font-family: $first-font;
            font-size: 1.6em;
            color: rgb(71, 71, 71);
            text-align: center;
            margin: 0;
        }

        &__p {
            font-family: $second-font;
            font-size: 1.4em;
            color: rgb(144, 144, 144);
            text-align: center; 
        }
    }

    &__img img {
        height: 450px;
        width: 675px;
        justify-self: center;
        align-self: center;
    }
}

/* SECCION DE 3° SERVICIO: MARKETING DIGITAL */

.mkt__article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    
    &__text {
        display: flex;
        flex-flow: column wrap;
        align-self: center;

        &__h {
            font-family: $first-font;
            font-size: 1.6em;
            color: rgb(71, 71, 71);
            text-align: center;
            margin: 0;
        }

        &__p {
            font-family: $first-font;
            font-size: 1.6em;
            color: rgb(71, 71, 71);
            text-align: center;
            margin: 0;
        }
    }

    &__img img {
        height: 450px;
        width: 675px;
        justify-self: center;
        align-self: center; 
    }
}

/* SECCIÓN DE SONRYENTES - EXPERIENCIAS DE CLIENTES */

.customers__section {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;

    &__title {
        font-family: $first-font;
        font-size: 2.3em;
        text-decoration: overline;
        text-decoration-color: rgb(107, 107, 107);
        color: rgb(0, 0, 0);
    }

    &__p {
        font-family: $second-font;
        font-size: 1.2em;
        font-style: normal;
        color: rgb(93, 93, 93);
        margin-bottom: 70px;
    }
}

/*CLIENTE: IVAN*/

.customers__div {
    display: grid;
    justify-items: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30rem;
    grid-gap: 30px;
}

.ivan__div {
     @include div__customers;

    &__h {
        @include h__customers;
    }

    &__p {
        @include p__customers;
    }
    
    &__img {
        @include img__customers;
    }
}

/* CLIENTE: SOFIA*/

.sofia__div {
    @include div__customers;

    &__h {
        @include h__customers;
    }

    &__p {
        @include p__customers;
    }

    &__img {
        @include img__customers;
    }
}

/* CLIENTE: BIANCA */

.bianca__div {
    @include div__customers;

    &__h {
        @include h__customers;
    }

    &__p {
        @include p__customers;
    }

    &__img {
        @include img__customers;
    }
}


/* 1° Título descriptivo STUDIO Page + Titulos */

.Title {
    font-family: $first-font;
    font-size: 60px;
    text-align: center;
    color: rgb(55, 148, 224);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
}

.Names {
    font-family: $second-font;
    font-size: 65px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}

.Name2 {
    font-family: $second-font;
    font-size: 50px;
    text-align: center;
    color: rgb(156, 156, 156);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}

/* TABLAS de E-SHOP page */

#tabTshirt {
    background-color: rgb(192, 192, 192);
    box-shadow: 0px 2px 2px;
    text-align: center;
    border: solid 2px rgba(0, 0, 0, 0.3);
    border-inline: 1px solid;
    display: inline-table;
}

#tabCanvas {
    background-color: rgb(192, 192, 192);
    box-shadow: 0px 2px 2px;
    text-align: center;
    border: solid 2px rgba(0, 0, 0, 0.3);
    border-inline: 1px solid;
    display: inline-table;
}

/* SERVICIOS PAGE */

.container-service-page h2 {
    font-family: "Bebas Neue";
    font-size: 2.5em;
}

.container-service-page p {
    font-family: "Lato Black";
    font-size: 1.3em;
    font-style:normal;
    color: rgb(93, 93, 93);
}

.textCian {
    color: rgb(77, 143, 197);
    font-family: "Lato Black";
}

.textMagent {
    color: rgb(228, 96, 96);
    font-family: "Lato Black";
}

.first-cnt-sct h2 {
    font-family: "Bebas Neue";
    font-size: 2.1em;
    color: rgb(71, 71, 71);
}

.first-cnt-sct p {
    font-family: "Lato Black";
    font-size: 1em;
    color: rgb(144, 144, 144);
}

.ctn-text-link h2 {
    font-family: "Bebas Neue";
    font-size: 2.1em;
    color: rgb(71, 71, 71);
}

.ctn-text-link p a {
    font-family: "Lato Black";
    text-decoration: none;
    font-size: 2em;
    color: #fa9f42;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3) ;
}

.ctn-text-link p a:hover {
    font-size: 2.5em;
    transition: 1s;
    
}

/* MEDIA QUERIS */

@media only screen and (max-width: 320px) {
    .customers__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;

    }

    .slogan__ctn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .service__ctn {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;

        &__p {
        text-align: center;
        }
    }

}

@media only screen and (max-width: 600px) {
    .customers__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .service__ctn {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto; 

        &__p {
            text-align: center;
        }
    }
}

/* FIN (Por ahora) */